.main {

  h2 {
    font-weight: 700;
  }

  .main__container {
    margin: 0 -25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .pizzaLoader{
      margin: 0 30px;
    }
  }
}