.nav {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 850px) {
    flex-direction: row-reverse;
  }

  .categories {
    width: 60%;
    @media (max-width: 850px) {
      display: none;
    }

    .categories__block {
      display: flex;
      flex-wrap: wrap;

      .categories__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #2C2C2C;
        height: 50px;
        background: #F9F9F9;
        border-radius: 30px;
        margin: 15px 15px 0 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        padding: 0 20px;

        &:hover {
          background: #eeeeee;
          box-shadow: 0 0 5px #dadada;
        }

        &.categories__item_active {
          background: #282828;
          color: #fff
        }
      }
    }
  }

  .sort {
    position: relative;
    @media (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
      width: 100%;
    }

    .sort__label {
      display: flex;
      align-items: center;

      .sort__img {
        display: flex;
        align-items: center;

        .sort__close-arrow {
          margin-right: 7px;
        }

        .sort__open-arrow {
          margin-right: 7px;
          transform: rotate(180deg);
        }
      }

      span {
        font-weight: 700;
      }

      .sort__block {
        width: 120px;
        margin-left: 9px;

        .sort__choice {
          color: #FE5F1E;
          border-bottom: 1px dashed #FE5F1E;
          cursor: pointer;
          text-align: left;
        }
      }
    }

    &.sort_filter {
      visibility: hidden;
      @media (max-width: 850px) {
        visibility: visible;
      }
    }
  }

  .sort__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    .sort__list {
      overflow: hidden;

      .sort__item {
        padding: 12px 20px;
        cursor: pointer;

        &:hover {
          background: rgba(254, 95, 30, 0.05)
        }

        &.sort__item_active {
          background: rgba(254, 95, 30, 0.05);
          font-weight: bold;
          color: #fe5f1e;
        }
      }
    }
  }
}