
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  color: #232323
}

a, span, p, b, h1, h2, h3, h4, h5 {
  color: #232323
}

h1 {
  font-size: 48px
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px
}

a {
  text-decoration: none
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
}
